body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    text-align: center;
}
#mybutton{
    font-size: 0.23em;
    padding: 5px 23px;
    border-radius: 1px;

}.label1{
    font-size: 3em;
}
