body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 119, 119);
}
h1{
    color: rgb(6, 6, 88);
}
form{
    background-color: rgb(175, 176, 177);
    text-align: center;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px ;
}
#textbox{
    text-align: center;

}
label{
    font-weight: bold;
}
button{
    background-color: rgb(36, 161, 165);
}
button:hover{
    background-color: chartreuse;
}
result{
font-size: 1.75em;
}